html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
}

/* General */

a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    color: #FFDD00;
    margin: 0;
    text-decoration: none;
}




/* Header completo */
header {
    position: relative;
    height: 80vh; /* Ocupa toda la altura del viewport */
    width: 100%;
    overflow: hidden;
    z-index: 5;
    background-color: #000;
}

/* Navegación */
.nav {
    display: flex;
    position: relative;
    z-index: 2;
    padding-top: 15px;
}
.nav-logo {
    width: 200px; /* Ajusta el tamaño del logo */
    height: 80px; /* Ajusta el tamaño del logo */
    z-index: 2;
    object-fit: contain; /* Mantiene la proporción de la imagen */
} 

.nav-container {
    
    width: min(90%, 1200px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    

    --icon-toggle-menu: url("../LOGO/ICONOS/menu-regular-36.png");
    --transform-menu-show: translate(-100%);
}

.nav-container:has(.nav-input:checked){
    --icon-toggle-menu: url("../LOGO/ICONOS/x-regular-36.png");
    --transform-menu-show: translate(0);
}

.nav-figure, .nav-toggle{
    z-index: 10;

}

.nav-toggle {
    width: 40px;
    height: 40px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .3s
}

.nav-input {
    display: none;
}

.nav-list {
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%; /* Abarca la altura del header */

    display: grid;
    grid-template-columns: 50% 50% ;
    place-content: center;
    /* gap: 2rem; */
    align-items: center;

    padding: 1.5rem 5%;
    padding-top: 30px;
    background-color: #000;
    list-style: none; 

    transition: .5s transform;
    z-index: 2;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-item {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    padding-top: 1.5rem;
}
.nav-item span{
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}
.nav-item a:hover,
.nav-item a:hover span{
    text-shadow: 0 0 5px #FFDD00;
    color: #FFDD00;
}
.nav-item a,
.nav-item a span{
    transition: .5s;
}

.nav-information {
    display: grid;
    grid-template-columns: auto ;
    place-content: center;
    gap: 2rem;
    align-items: center;
}
.linea::before {
    content: "";
    position: absolute;
    top: 60%; /* Centra verticalmente la línea */
    left: 60%; /* Coloca la línea al lado izquierdo del título */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    width: 2px; /* Ajusta el ancho de la línea según sea necesario */
    height: 590px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: #fff;
}
.nav-information-text {
    color: #fff;
}


/* Media queries generales para dispositivos móviles */
@media (max-width: 768px) {
   /* Header */
   header {
    height: 60vh; /* Reduce la altura del header */
    padding: 20px;
    background-color: #000;
}
.nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.linea {
    display: none;
}
.nav-container {
    width: 100%; /* Asegura que el contenedor de la navegación se ajuste al 100% */
    padding: 0; /* Reduce los márgenes laterales */
}
.nav-list {
    display: flex;
    flex-direction: column; /* Acomoda los enlaces en una sola columna */
    align-items: start;
    padding: 5px;
    gap: 15px; /* Ajusta el espacio entre los elementos */
    height: 100vh;
}
.nav-item {
    font-size: 25px; /* Reduce el tamaño de la fuente */
    padding: 10px;
}

.nav-information {
    display: none;
}
.nav-toggle {
    width: 30px;
    height: 30px;
}
.nav-link {
    font-size: 30px;
}


}

/* Media queries para pantallas aún más pequeñas (por ejemplo, teléfonos muy pequeños) */
@media (max-width: 480px) {
    h1 {
        font-size: 40px; /* Reducir tamaño de los títulos */
    }

    .nav-list-div {
        width: 100%;
        height: 100%;
    }
    .nav-list-div {
        position: fixed;
        inset: 0;
        
        padding: 1.5rem 5%;
        padding-top: 140px;
    }
    .nav-link {
        font-size: 27px;
    }

    .nav-logo {
        position: relative;
        width: 150px;
        height: auto;
        object-fit: contain;
        z-index: 1;
    }

    .nav-item {
        font-size: 20px; /* Reducir tamaño de los elementos de navegación */
    }
}
