.servicio-titulo {
    width: 100%;
    height: 280px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main {
    padding: 70px;
}
.impulso-contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.subtext {
    color: #175AFF;
    font-size: 15px;
    text-transform: uppercase;
}

.contenidos h2{
    font-size: 36px;
    color: #363636;
    padding-bottom: 10px;
}
.contenidos p{
    color: #363636;
}

.boton {
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none;
    
}
.boton-contenido {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}
.boton h5 {
    padding: 0;
    margin: 0;
}
.boton:hover {
    background-color: #FFDD00;
    color: #000;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #FFDD00;
}

.contenidos2 {
   
}

.estrategias {
    background-color: #FFDD00;
    padding: 60px 50px;
    border-radius: 10px;
    margin-right: 100px;
    position: relative;
    z-index: 1;
}

.fondo {
    height: 500px;
    width: 200px;
    position: absolute;
    left: 78%;
    top: 140%;
    z-index: 0;
    object-fit: cover;
}