html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
    overflow-x: hidden;
    width: 100%;
}

/* General */

a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    color: #FFDD00;
    margin: 0;
    text-decoration: none;
}

h2 {
    font-size: 25px;
    color: #FFDD00;
    margin: 0;
    text-decoration: none;
}

h4 {
    font-size: 40px;
    color: #FFDD00;
    margin: 0;
}

/* Header completo */
header {
    position: relative;
    height: 100vh; /* Ocupa toda la altura del viewport */
    width: 100%;
    overflow: hidden;
    z-index: 5;
}

/* Navegación */
.nav {
    display: flex;
    padding-top: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: transparent; Color de fondo */
    /* backdrop-filter: blur(10px); /* Desenfoque del contenido detrás */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Sombra para que se vea mejor */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    
}
.nav-logo {
    width: 200px; /*Tamaño del logo */
    height: 80px; /*Tamaño del logo */
    z-index: 2;
    object-fit: contain; /* Mantiene la proporción de la imagen */
} 

.nav-container {
    width: min(90%, 1200px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
}


.button-menu {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.65rem;
    cursor: pointer;

    position: relative;
    z-index: 2;
}

.button-menu div {
    background: #FFDD00;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
}

.button-menu.active div:first-child {
    transform: rotate(45deg);
    background: #fff;
}
.button-menu.active div:nth-child(2) {
    opacity: 0;
}
.button-menu.active div:last-child {
    transform: rotate(-45deg);
    background: #fff;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Bloquear scroll cuando el menú esté abierto */
body.menu-open {
    overflow: hidden;
}

/* Carrusel */
.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; /* Asegura que el título se posicione correctamente sobre los elementos */
}

.carousel-item img,
.carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que todo se vea proporcional */
}
.carousel-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.carousel-image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.carousel-image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 19.03%, rgba(0, 0, 0, 0.7) 50.18%, #000000 95.24%);
    pointer-events: none; /* Asegura que no bloquee clics */
}
  
.carousel-titulos {
    position: absolute;
    line-height: 1.5;
    overflow: hidden;
    white-space: normal;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajusta el ancho de manera responsiva */
    max-width: 1070px;
    box-sizing: border-box;
    top: 70%;
    left: 46%;
}
@media (min-width: 550px) {
    .carousel-titulos br{
        display: none;
    }
}

.carousel-titulos h1 {
    color: #fff;
    font-family: Poppins;
    font-weight: 700;
    font-size: 5vw;
}
.carousel-titulos p {
    width: 948px;
    /* height: 160px; */
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 17px;
}
@media (max-width: 1130px) {
    .carousel-titulos p {
        width: 100%;
    }
}

.especial {
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke: 1px #FFDD00; /* Borde amarillo */
    -webkit-background-clip: text;
    background-clip: text;
}

.carousel-titulos h1 span {
    display: inline-block;
    opacity: 0;
    transform: translateY(30px);
    animation: typewave 0.6s ease-in-out forwards;
}
/* Asigna un retraso a cada letra */
.carousel-titulos h1 span:nth-child(n) {
    animation-delay: calc(var(--n) * 0.06s);
}
.carousel-boton-contenido {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.carousel-boton {
    background: linear-gradient(176.4deg, #FEE069 6.24%, #FFD83E 12.59%, #FFD83E 61.06%, #998200 97.05%);
    color: #000;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    text-decoration: none; 
    transition: 0.5s;
}
.carousel-boton h5 {
    font-size: 13px;
    letter-spacing: 0.2em;
    padding: 0;
    margin: 0;
}
.carousel-boton:hover {
    background: linear-gradient(176.4deg, #69A9FE 6.24%, #3E8BFF 12.59%, #3E8BFF 61.06%, #004C99 97.05%);
    color: #fff;
    transition: 0.5s;
}


@keyframes typewave {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    50% {
      opacity: 1;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}



.quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.quienes-somos-logo img{
    width: 90px;
    height: 70px;
    object-fit: contain;
}
.quienes-somos-textos {
    text-align: center;
}
.quienes-somos-textos h2 {
    color: #000; 
    padding: 20px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}
.quienes-somos-textos h3 {
    color: #000;
    padding: 10px;
    font-size: 20px;
    font-weight: 500px;
}
.quienes-somos-textos p{
    color: #7D7C7C;
    padding: 0 200px;
}
@media (max-width: 1155px) {
    .quienes-somos-textos br{
        display: none;
    }
}
.quienes-somos-boton {
    display: flex;
    align-items: center;
    padding: 40px 0;
    padding-bottom: 100px;
}
.somos-boton {
    color: #3E8BFF;
    padding: 15px 25px;
    border: 3px solid #3E8BFF;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none; 
    transition: 0.5s;
}
.somos-boton h5 {
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.somos-boton:hover {
    background-color: #3E8BFF;
    color: #000;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #3E8BFF;
}

.marketing {
    height: 208px;
    background-color: #FFDD00;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.marketing h3 {
    font-size: 20px;
    font-weight: 500;
}

.titulo { 
    text-decoration: none;
    text-transform: uppercase;
    color: #FFDD00;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block; /* Asegura que el pseudo-elemento se posicione correctamente */
    padding-left: 100px; /* Añade espacio a la izquierda para la línea */
   
}
.titulo a:hover {
    text-shadow: 0 0 5px #FFDD00;
}
.titulo::before {
    content: "";
    position: absolute;
    top: 50%; /* Centra verticalmente la línea */
    left: 10%; /* Coloca la línea al lado izquierdo del título */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    width: 60px; /* Ajusta el ancho de la línea según sea necesario */
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: #000;
    z-index: 1;
}

.texto {
    font-size: 40px;
    color: #FFDD00;
    padding: 0 20px 0 20px;
    margin: 0;
}
.texto1 {
    padding: 0 20px 0 20px;
    line-height: 2; /* Aumenta el espacio entre líneas */
}

.servicios {
    padding: 60px 0 0 0;
    text-align: center;  
}

.servicios-contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    padding: 50px 180px;
    margin-bottom: 5rem;
    flex-grow: 1;
}
.servicios-contenido-item {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Define tres filas: título, contenido y botón */

    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.5s ease, transform 0.5s ease !important;
}
.servicios-contenido-item:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5) !important;
    transform: translateY(-5px) !important;
}


.servicios-texto p {
    text-align: left;
    font-size: 14px;
    color: #807d7d;
    padding: 10px;
    display: flex;
    align-items: stretch;
    line-height: 2;
}
@media (max-width: 950px) {
    .servicios-contenido {
        padding: 50px 100px;
    }
}
.titulo-servicio {
    width: auto;
    padding: 10px;
    text-align: left;
}

.boton {
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none; 
}
.boton-contenido {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.boton h5 {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5em;
    padding: 0;
    margin: 0;
}
.boton:hover {
    background-color: #FFDD00;
    color: #000;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #FFDD00;
}

.nosotros {
    display: flex;
    padding: 2rem;
    text-align: center;
}
.nosotros-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding: 30px 0;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
}
.slider .slider-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 12);
}
.slider .slide {
    width: 200px;
}
.slider .slide img {
    width: 100%;
    padding: 0 20px;
}
@keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 6));
        transform: translateX(calc(-200px * 6));
    }
}

.imagen_contacto {
    background-image: url('SRC/logos/image.webp');
}
.imagen_contacto {
    
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}
.imagen_contacto p {
    font-size: 15px;
    color: #fff;
    padding: 20px;
}
.imagen_contacto span {
    font-size: 15px;
    color: #fff;
    padding: 0;
}

.footer {
    margin-top: 0px;
    background-color: #000;
    color: #FFDD00;
    padding: 1rem 3rem;
}
.logo-footer {
    width: 200px; /* Ajusta el tamaño del logo */
    height: 80px; /* Ajusta el tamaño del logo */
    object-fit: contain; /* Mantiene la proporción de la imagen */
} 
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 830px) {
    .footer-menu {
        flex-direction: column;
    }
}

.footer-menu-items a{
    color: #fff;
    font-size: 18px;
    font-weight: 300;

    margin: 0 15px 0 0;
}
.footer-menu-items a:hover {
    color: #FFDD00;
    transition: 0.5s;
    text-shadow: 0px 0px 15px #FFDD00;
}

.underline-from-left {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    z-index: 1;
}

.underline-from-left::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 3px;
    background: #3498db;
    z-index: -1;
    transition: right 0.3s ease-out;
}

.underline-from-left:hover::before,
.underline-from-left:focus::before,
.underline-from-left:active::before {
    right: 0;
}

  

.btn-sweep-to-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 30px;
    color: #fff;
    gap: 5px;

    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    z-index: 1;
    overflow: hidden;
}
.btn-sweep-to-right::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.btn-sweep-to-right:hover,
.btn-sweep-to-right:focus,
.btn-sweep-to-right:active {
    color: white;
}
.btn-sweep-to-right:hover::before,
.btn-sweep-to-right:focus::before,
.btn-sweep-to-right:active::before {
    transform: scaleX(1);
}
/* Icon Forward */
.icon-forward {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.icon-forward .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	-webkit-transition-property: transform;
	transition-property: transform;

	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.icon-forward:hover .hvr-icon,
.icon-forward:focus .hvr-icon,
.icon-forward:active .hvr-icon {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
}


.footer-items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff ;
}
.footer-contactos {
    display: flex;
    justify-content: end;
    align-items: center;
}
.contacto {
    padding: 0px 5px;
}
.footer-condiciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0;
    text-decoration: none; */
}
.footer-condiciones h5{
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.footer-condiciones h5:hover {
    color: #FFDD00;
    transition: 0.5s;
    text-shadow: 0px 0px 15px #FFDD00;
}
.copyright {
    color: #fff;
}


/* Media queries generales para dispositivos móviles */
@media (max-width: 768px) {
    /* Header */
    header {
        height: 60vh; /* Reduce la altura del header */
        padding: 20px;
        background-color: #000;
    }
    .nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }


    
    .carousel-titulos h1 {
        font-size: 36px; /* Texto más pequeño */
        padding-right: 0%;
    }
    .especial {
        font-size: 36px; /* Ajustar tamaño para móviles */
        -webkit-text-stroke: 1px #FFDD00; /* Mantiene el borde amarillo */
    }
    .carousel-titulos h1 span {
        transform: translateY(20px); /* Ajuste menor en la animación */
    }
    .carousel-titulos h1 span:nth-child(n) {
        animation-delay: calc(var(--n) * 0.05s); /* Animación más rápida */
    }
    .carousel-titulos p {
        display: none;
    }

    .carousel-item img,
    .carousel-item video {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover; 
        top: 0;
        left: 0;
    }

    /* Sección "Quienes somos" */
    .quienes-somos-textos p{
        padding: 10px;
    }

    /* Sección "Servicios" */
    .servicios-contenido {
        grid-template-columns: 1fr; /* Muestra los servicios en una sola columna */
        padding: 10px 10px; /* Ajusta el padding */
    }

    .servicios-contenido-item {
        padding: 10px;
    }

    /* Botones */
    .boton {
        width: 100%; /* Asegura que los botones ocupen el 100% de su contenedor */
        padding: 15px;
        text-align: center;
    }

    /* Sección "Nosotros" */
    .nosotros {
        grid-template-columns: 1fr; /* Apila los elementos de la sección "Nosotros" en una columna */
        padding: 10px;
    }
    .texto {
        padding: 0;
        margin: 0;
    }
    .texto1 {
        padding: 0;
        line-height: 2; /* Aumenta el espacio entre líneas */
    }
    .nosotros-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

     /* Footer */
     .footer-figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-menu {
        padding-bottom: 5px;
    }
    .footer-menu-items {
        /* display: flex; */
        flex-direction: column;
    }
    .footer-items {
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-contactos {
        justify-content: end;
    }
    .footer-condiciones {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .copyright {
        padding-top: 20px;
    }

    /* Ajustar imágenes de contacto */
    .imagen_contacto {
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

/* Media queries para pantallas aún más pequeñas (por ejemplo, teléfonos muy pequeños) */
@media (max-width: 480px) {
    .button-menu {
        width: 2.5rem;
    }
    p {
        font-size: 14px;
    }
    .carousel-item video {
        height: 420px;

    }
    .carousel-titulos h1 {
        font-size: 36px; /* Texto más pequeño */
        padding-right: 0%;
    }


    .texto {
        font-size: 30px; /* Reducir tamaño del texto en secciones */
    }
    .titulo-servicio {
        width: auto;
        height: auto;
    }

    .boton {
        padding: 12px 20px;
        font-size: 12px;
    }
    .imagen_contacto h4{
        font-size: 30px;
        text-align: center;
    }
    .p {
        text-align: center;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
    }
    .footer-menu-items {
        display: flex;
        flex-direction: column;
    }
    .footer-contactos {
        display: flex;
        flex-direction: column;
    }
    .copyright {
        color: #fff;
        text-align: center;
        font-size: 10px;
    }
}