html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* overflow: auto; */
    font-family: "Poppins", serif;
}

/* General */

a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    color: #FFDD00;
    margin: 0;
    text-decoration: none;
}

h2 {
    font-size: 25px;
    color: #FFDD00;
    margin: 0;
    text-decoration: none;
}

h4 {
    font-size: 40px;
    color: #FFDD00;
    margin: 0;
}
span {
    font-size: 13px;
    color: #000; 
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


/* Header completo */
header {
    position: relative;
    height: 100vh; /* Ocupa toda la altura del viewport */
    width: 100%;
    overflow: hidden;
    z-index: 5;
}

/* Navegación */
.nav {
    display: flex;
    position: relative;
    z-index: 2;
    padding-top: 15px;
    
}
.nav-logo {
    width: 200px; /* Ajusta el tamaño del logo */
    height: 80px; /* Ajusta el tamaño del logo */
    z-index: 2;
    object-fit: contain; /* Mantiene la proporción de la imagen */
} 

.nav-container {
    
    width: min(90%, 1200px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    

    --icon-toggle-menu: url("LOGO/ICONOS/menu-regular-36.png");
    --transform-menu-show: translate(-100%);
}

.nav-container:has(.nav-input:checked){
    --icon-toggle-menu: url("LOGO/ICONOS/x-regular-36.png");
    --transform-menu-show: translate(0);
}

.nav-figure, .nav-toggle{
    z-index: 10;

}

.nav-toggle {
    width: 40px;
    height: 40px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .3s
}

.nav-input {
    display: none;
}

.nav-list {
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%; /* Abarca la altura del header */

    display: grid;
    grid-template-columns: 50% 50% ;
    place-content: center;
    /* gap: 2rem; */
    align-items: center;

    padding: 1.5rem 5%;
    padding-top: 30px;
    background-color: #000;
    list-style: none; 

    transition: .5s transform;
    z-index: 2;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-item {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    padding-top: 1.5rem;
}
.nav-item span{
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}
.nav-item a:hover,
.nav-item a:hover span{
    color: #FFDD00;
}


.nav-information {
    display: grid;
    grid-template-columns: auto ;
    place-content: center;
    gap: 2rem;
    align-items: center;
}
.linea::before {
    content: "";
    position: absolute;
    top: 60%; /* Centra verticalmente la línea */
    left: 60%; /* Coloca la línea al lado izquierdo del título */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    width: 2px; /* Ajusta el ancho de la línea según sea necesario */
    height: 590px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: #fff;
}
.nav-information-text {
    color: #fff;
}

/* Carrusel */
.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-item img,
.carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que todo se vea proporcional */
}

.quienes-somos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    grid-gap: 20px;
    
}

.titulo { 
    text-decoration: none;
    text-transform: uppercase;
    color: #FFDD00;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block; /* Asegura que el pseudo-elemento se posicione correctamente */
    padding-left: 100px; /* Añade espacio a la izquierda para la línea */
   
}

.titulo::before {
    content: "";
    position: absolute;
    top: 50%; /* Centra verticalmente la línea */
    left: 10%; /* Coloca la línea al lado izquierdo del título */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    width: 60px; /* Ajusta el ancho de la línea según sea necesario */
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: #000;
    z-index: 1;
}

.texto {
    font-size: 40px;
    color: #FFDD00;
    padding: 0 20px 0 20px;
    margin: 0;
}
.texto1 {
    padding: 0 20px 0 20px;
    line-height: 2; /* Aumenta el espacio entre líneas */
}

.servicios {
    padding: 10px;
    text-align: center;
}

.servicios-contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    padding: 50px;
    margin-bottom: 5rem;
}
.servicios-contenido-item {
    padding: 20px ;
    /* border: 1px solid #FFDD00;
    border-radius: 10px; */
    background-color: #fff;
    color: #000;
    text-align: left;
}
.servicios-contenido-item:hover {
    background-color: #f8f8f8;
}
.servicios-texto p {
    /* height: 200px; */
    text-align: left;
    font-size: 14px;
    color: #807d7d;
    padding: 10px;
    line-height: 2;
}
.titulo-servicio {
    width: auto;
    height: 70px;
    padding: 10px;
    text-align: left;
}

.boton {
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    
}
.boton-contenido {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}
.boton h5 {
    letter-spacing: 0.5em;
    padding: 0;
    margin: 0;
}
.boton:hover {
    background-color: #FFDD00;
    color: #000;
    transition: 0.5s;
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    grid-gap: 20px;
}
.nosotros-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.imagen_contacto {
    background-image: url('LOGO/PNG/image.png');
}
.imagen_contacto {
    
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}
.imagen_contacto p {
    font-size: 15px;
    color: #fff;
    padding: 20px;
}
.imagen_contacto span {
    font-size: 15px;
    color: #fff;
    padding: 0;
}

.footer {
    margin-top: 0px;
    background-color: #000;
    color: #FFDD00;
    padding: 1rem 3rem 3rem;
}


/* Media queries */
/* Media queries generales para dispositivos móviles */
@media (max-width: 768px) {
    /* Header */
    header {
        height: 60vh; /* Reduce la altura del header */
        padding: 20px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .linea {
        display: none;
    }

    .nav-container {
        width: 100%; /* Asegura que el contenedor de la navegación se ajuste al 100% */
        padding: 0; /* Reduce los márgenes laterales */
    }

    .nav-list {
        display: flex;
        flex-direction: column; /* Acomoda los enlaces en una sola columna */
        align-items: start;
        padding: 5px;
        gap: 15px; /* Ajusta el espacio entre los elementos */

    }

    /* .nav-list-div {
        padding-top: 200px;
    } */
    .nav-item {
        font-size: 25px; /* Reduce el tamaño de la fuente */
        padding: 10px;
         
    }
    
    .nav-information {
        gap: 0;
    }
    .nav-toggle {
        width: 30px;
        height: 30px;
    }

    .carousel-item img,
    .carousel-item video {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover; 
        top: 0;
        left: 0;
    }

    /* Sección "Quienes somos" */
    .quienes-somos {
        grid-template-columns: 1fr; /* Apila los elementos de la sección en una columna */
        padding: 10px;
    }

    /* Sección "Servicios" */
    .servicios-contenido {
        grid-template-columns: 1fr; /* Muestra los servicios en una sola columna */
        padding: 10px 20px; /* Ajusta el padding */
    }

    .servicios-contenido-item {
        padding: 20px;
    }

    /* Botones */
    .boton {
        width: 100%; /* Asegura que los botones ocupen el 100% de su contenedor */
        padding: 15px;
        text-align: center;
    }

    /* Sección "Nosotros" */
    .nosotros {
        grid-template-columns: 1fr; /* Apila los elementos de la sección "Nosotros" en una columna */
        padding: 10px;
    }

    /* Footer */
    .footer {
        padding: 2rem;
    }

    /* Ajustar imágenes de contacto */
    .imagen_contacto {
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

/* Media queries para pantallas aún más pequeñas (por ejemplo, teléfonos muy pequeños) */
@media (max-width: 480px) {
    h1 {
        font-size: 40px; /* Reducir tamaño de los títulos */
    }

    .nav-logo {
        position: relative;
        width: 150px;
        height: auto;
        object-fit: contain;
        z-index: 1;
    }

    .nav-item {
        font-size: 20px; /* Reducir tamaño de los elementos de navegación */
    }

    .texto {
        font-size: 30px; /* Reducir tamaño del texto en secciones */
    }

    .boton {
        padding: 12px 20px;
        font-size: 12px;
    }

    /* Ajustar más elementos si es necesario */
}
