html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
}

/* General */

a {
    text-decoration: none;
}
h1 {
    font-size: 50px;
    color: #FFDD00;
    margin: 0;
    text-decoration: none;
}

h2 {
    font-size: 25px;
    color: #FFDD00;
    margin: 0;
    text-decoration: none;
}

h4 {
    font-size: 40px;
    color: #FFDD00;
    margin: 0;
}
/* span {
    font-size: 13px;
    color: #000; 
    letter-spacing: 0.1em;
    text-transform: uppercase;
} */


/* Header completo */
header {
    position: relative;
    height: 100vh; /* Ocupa toda la altura del viewport */
    width: 100%;
    overflow: hidden;
    z-index: 5;
}

/* Navegación */
.nav {
    display: flex;
    position: relative;
    z-index: 1000;
    padding-top: 15px;
    
}
.nav-logo {
    width: 200px; /*Tamaño del logo */
    height: 80px; /*Tamaño del logo */
    z-index: 2;
    object-fit: contain; /* Mantiene la proporción de la imagen */
} 

.nav-container {
    
    width: min(90%, 1200px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    

    --icon-toggle-menu: url("LOGO/ICONOS/menu-regular-36.png");
    --transform-menu-show: translate(-100%);
}

.nav-container:has(.nav-input:checked){
    --icon-toggle-menu: url("LOGO/ICONOS/x-regular-36.png");
    --transform-menu-show: translate(0);
}

.nav-figure, .nav-toggle{
    z-index: 10;

}

.nav-toggle {
    width: 40px;
    height: 40px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;

    transition: background-image .3s
}

.nav-input {
    display: none;
}

.nav-list {
    position: fixed;
    transform: var(--transform-menu-show);
    inset: 0;

    width: 100%;
    height: 100%; /* Ocupa toda la pantalla */

    display: grid;
    grid-template-columns: 50% 50% ;
    place-content: center;
    align-items: center;

    padding: 1.5rem 5%;
    padding-top: 30px;
    background-color: #000;
    list-style: none; 

    transition: .5s transform;
    z-index: 2;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-item {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    padding-top: 1.5rem;
}
.nav-item span{
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}
.nav-item a:hover,
.nav-item a:hover span{
    text-shadow: 0 0 5px #FFDD00;
    color: #FFDD00;
}
.nav-item a,
.nav-item a span{
    transition: .5s;
}

.nav-information {
    display: grid;
    grid-template-columns: auto ;
    place-content: center;
    gap: 2rem;
    align-items: center;
}
.linea::before {
    content: "";
    position: absolute;
    top: 60%; /* Centra verticalmente la línea */
    left: 60%; /* Coloca la línea al lado izquierdo del título */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    width: 2px; /* Ajusta el ancho de la línea según sea necesario */
    height: 590px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: #fff;
}
.nav-information-text {
    color: #fff;
}

/* Bloquear scroll cuando el menú esté abierto */
body.menu-open {
    overflow: hidden;
}

/* Carrusel */
.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; /* Asegura que el título se posicione correctamente sobre los elementos */
}

.carousel-item img,
.carousel-item video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que todo se vea proporcional */
}
.carousel-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.carousel-image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.carousel-image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 19.03%, rgba(0, 0, 0, 0.7) 50.18%, #000000 95.24%);
    pointer-events: none; /* Asegura que no bloquee clics */
}
  
.carousel-titulos {
    position: absolute;
    line-height: 1.5;
    overflow: hidden;
    white-space: normal;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajusta el ancho de manera responsiva */
    max-width: 1070px;
    box-sizing: border-box;
    top: 70%;
    left: 46%;
}
.carousel-titulos h1 {
    color: #fff;
    font-family: Poppins;
    font-weight: 700;
    font-size: 4.5vw;
}
.carousel-titulos p {
    width: 948px;
    height: 160;
    /* padding: 10px 0; */
    
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 17px;
    /* line-height: 30px; */
}
@media (max-width: 1130px) {
    .carousel-titulos p {
        width: 100%;
    }
}

.especial {
    font-size: 4.5vw;
    color: transparent;
    -webkit-text-stroke: 1px #FFDD00; /* Borde amarillo */
    -webkit-background-clip: text;
    background-clip: text;
}

.carousel-titulos h1 span {
    display: inline-block;
    opacity: 0;
    transform: translateY(30px);
    animation: typewave 0.6s ease-in-out forwards;
}
/* Asigna un retraso a cada letra */
.carousel-titulos h1 span:nth-child(n) {
    animation-delay: calc(var(--n) * 0.06s);
}
.carousel-boton-contenido {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.carousel-boton {
    background: linear-gradient(176.4deg, #FEE069 6.24%, #FFD83E 12.59%, #FFD83E 61.06%, #998200 97.05%);

    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none; 
}
.carousel-boton h5 {
    font-size: 13px;
    letter-spacing: 0.2em;
    padding: 0;
    margin: 0;
}
/* .carousel-boton:hover {
    background-color: #FFDD00;
    color: #000;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #FFDD00;
} */


@keyframes typewave {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    50% {
      opacity: 1;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}



.quienes-somos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    grid-gap: 20px;
    overflow: hidden;
}

.titulo { 
    text-decoration: none;
    text-transform: uppercase;
    color: #FFDD00;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block; /* Asegura que el pseudo-elemento se posicione correctamente */
    padding-left: 100px; /* Añade espacio a la izquierda para la línea */
   
}
.titulo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFDD00;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 20px;
}
.titulo a:hover {
    text-shadow: 0 0 5px #FFDD00;
}

.titulo::before {
    content: "";
    position: absolute;
    top: 50%; /* Centra verticalmente la línea */
    left: 10%; /* Coloca la línea al lado izquierdo del título */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    width: 60px; /* Ajusta el ancho de la línea según sea necesario */
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: #000;
    z-index: 1;
}

.texto {
    font-size: 40px;
    color: #FFDD00;
    padding: 0 20px 0 20px;
    margin: 0;
}
.texto1 {
    padding: 0 20px 0 20px;
    line-height: 2; /* Aumenta el espacio entre líneas */
}

.servicios {
    padding: 10px;
    text-align: center;
    
}

.servicios-contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    padding: 50px 180px;
    margin-bottom: 5rem;
    flex-grow: 1;
}
.servicios-contenido-item {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Define tres filas: título, contenido y botón */

    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.5s ease, transform 0.5s ease !important;
}
.servicios-contenido-item:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5) !important;
    transform: translateY(-5px) !important;
}


.servicios-texto p {
    text-align: left;
    font-size: 14px;
    color: #807d7d;
    padding: 10px;
    display: flex;
    align-items: stretch;
    line-height: 2;
}
@media (max-width: 950px) {
    .servicios-contenido {
        padding: 50px 100px;
    }
}
.titulo-servicio {
    width: auto;
    padding: 10px;
    text-align: left;
}

.boton {
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none; 
}
.boton-contenido {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.boton h5 {
    letter-spacing: 0.5em;
    padding: 0;
    margin: 0;
}
.boton:hover {
    background-color: #FFDD00;
    color: #000;
    transition: 0.5s;
    box-shadow: 0px 0px 15px #FFDD00;
}

.nosotros {
    display: flex;
    padding: 2rem;
    text-align: center;
}
.nosotros-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding: 30px 0;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
}
.slider .slider-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 12);
}
.slider .slide {
    width: 200px;
}
.slider .slide img {
    width: 100%;
    padding: 0 20px;
}
@keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 6));
        transform: translateX(calc(-200px * 6));
    }
}

.imagen_contacto {
    background-image: url('LOGO/PNG/image.png');
}
.imagen_contacto {
    
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}
.imagen_contacto p {
    font-size: 15px;
    color: #fff;
    padding: 20px;
}
.imagen_contacto span {
    font-size: 15px;
    color: #fff;
    padding: 0;
}

.footer {
    margin-top: 0px;
    background-color: #000;
    color: #FFDD00;
    padding: 1rem 3rem;
}
.logo-footer {
    width: 200px; /* Ajusta el tamaño del logo */
    height: 80px; /* Ajusta el tamaño del logo */
    object-fit: contain; /* Mantiene la proporción de la imagen */
} 
.footer-items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff ;
}
.footer-contactos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto {
    padding: 0px 5px;
}
.footer-condiciones {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
}
.footer-condiciones h5{
    font-size: 15px;
    color: #fff;
}
.footer-condiciones h5:hover {
    color: #FFDD00;
    transition: 0.5s;
    text-shadow: 0px 0px 15px #FFDD00;
}
.copyright {
    color: #fff;
    text-align: center;
}


/* Media queries generales para dispositivos móviles */
@media (max-width: 768px) {
    /* Header */
    header {
        height: 60vh; /* Reduce la altura del header */
        padding: 20px;
        background-color: #000;
    }
    .nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .linea {
        display: none;
    }
    .nav-container {
        width: 100%; /* Asegura que el contenedor de la navegación se ajuste al 100% */
        padding: 0; /* Reduce los márgenes laterales */
    }
    .nav-list {
        display: flex;
        flex-direction: column; /* Acomoda los enlaces en una sola columna */
        align-items: start;
        padding: 5px;
        gap: 15px; /* Ajusta el espacio entre los elementos */
        height: 100vh;
    }
    .nav-item {
        font-size: 25px; /* Reduce el tamaño de la fuente */
        padding: 10px;
    }
    
    .nav-information {
        display: none;
    }
    .nav-toggle {
        width: 30px;
        height: 30px;
    }
    .nav-link {
        font-size: 30px;
    }

    .carousel-titulos {
        position: absolute;
        font-size: 1.2rem;
        line-height: 1.5;
        display: inline-block;
        overflow: hidden;
        white-space: normal; /* Permite que el texto se ajuste a múltiples líneas */
        text-align: left;
        left: 10px; /* Ajusta la distancia desde el borde izquierdo */
        top: 80%; /* Baja el texto */
        transform: translateY(-50%);
        width: calc(100% - 20px); /* Limita el ancho al tamaño de la pantalla menos márgenes */
        box-sizing: border-box; /* Asegura que el padding/margen no exceda el ancho */
    }
    
    .carousel-titulos h1 {
        font-size: 36px; /* Texto más pequeño */
        padding-right: 0%;
    }
    .especial {
        font-size: 36px; /* Ajustar tamaño para móviles */
        -webkit-text-stroke: 1px #FFDD00; /* Mantiene el borde amarillo */
    }
    .carousel-titulos h1 span {
        transform: translateY(20px); /* Ajuste menor en la animación */
    }
    .carousel-titulos h1 span:nth-child(n) {
        animation-delay: calc(var(--n) * 0.05s); /* Animación más rápida */
    }
    .carousel-titulos p {
        display: none;
    }

    .carousel-item img,
    .carousel-item video {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover; 
        top: 0;
        left: 0;
    }

    /* Sección "Quienes somos" */
    .quienes-somos {
        grid-template-columns: 1fr; /* Apila los elementos de la sección en una columna */
        padding: 10px;
        overflow: hidden;
    }

    /* Sección "Servicios" */
    .servicios-contenido {
        grid-template-columns: 1fr; /* Muestra los servicios en una sola columna */
        padding: 10px 10px; /* Ajusta el padding */
    }

    .servicios-contenido-item {
        padding: 10px;
    }

    /* Botones */
    .boton {
        width: 100%; /* Asegura que los botones ocupen el 100% de su contenedor */
        padding: 15px;
        text-align: center;
    }

    /* Sección "Nosotros" */
    .nosotros {
        grid-template-columns: 1fr; /* Apila los elementos de la sección "Nosotros" en una columna */
        padding: 10px;
    }
    .texto {
        padding: 0;
        margin: 0;
    }
    .texto1 {
        padding: 0;
        line-height: 2; /* Aumenta el espacio entre líneas */
    }
    .nosotros-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    /* Footer */
    .footer {
        padding: 2rem;
    }

    /* Ajustar imágenes de contacto */
    .imagen_contacto {
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

/* Media queries para pantallas aún más pequeñas (por ejemplo, teléfonos muy pequeños) */
@media (max-width: 480px) {
    p {
        font-size: 14px;
    }
    .carousel-item video {
        height: 420px;

    }
    .carousel-titulos h1 {
        font-size: 36px; /* Texto más pequeño */
        padding-right: 0%;
    }
    .carousel-titulos {
        position: absolute;
        font-size: 1.2rem;
        line-height: 1.5;
        display: inline-block;
        overflow: hidden;
        white-space: normal; /* Permite que el texto se ajuste a múltiples líneas */
        text-align: left;
        left: 10px; /* Ajusta la distancia desde el borde izquierdo */
        top: 70%; /* Baja el texto */
        transform: translateY(-50%);
        width: calc(100% - 20px); /* Limita el ancho al tamaño de la pantalla menos márgenes */
        box-sizing: border-box; /* Asegura que el padding/margen no exceda el ancho */
    }

    .nav-list-div {
        width: 100%;
        height: 100%;
    }
    .nav-list-div {
        position: fixed;
        inset: 0;
        
        padding: 1.5rem 5%;
        padding-top: 140px;
    }
    .nav-link {
        font-size: 27px;
    }

    .nav-logo {
        position: relative;
        width: 150px;
        height: auto;
        object-fit: contain;
        z-index: 1;
    }

    .nav-item {
        font-size: 20px; /* Reducir tamaño de los elementos de navegación */
    }

    .texto {
        font-size: 30px; /* Reducir tamaño del texto en secciones */
    }
    .titulo-servicio {
        width: auto;
        height: auto;
    }

    .boton {
        padding: 12px 20px;
        font-size: 12px;
    }
    .imagen_contacto h4{
        font-size: 30px;
        text-align: center;
    }
    .p {
        text-align: center;
    }

    .footer-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-contactos {
        display: flex;
        flex-direction: column;
    }
    .copyright {
        color: #fff;
        text-align: center;
        font-size: 10px;
    }
}